<ion-header class="clients_header">
  <ion-toolbar class="header-bg-color">    
    <ion-icon slot="start" routerLink="/splash/tabs/home" class="back-btn" name="arrow-back-outline"></ion-icon>
    <ion-title slot="start" class="header-title">Clients</ion-title>
    <ion-label slot="end" (click)="clientRegistration()">+</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngFor="let list of clientList">
    <ion-avatar slot="start">
      <img src="../../assets/images/user.png" />
    </ion-avatar>
    <ion-label>
      <h2>{{list.client_name}}</h2>
      <p>{{list.propertyType}}, Flat</p>
      <p>{{list.property_location}}</p>
    </ion-label>
  </ion-item>
</ion-content>
