.login-bg{
    fa-icon{
        font-size: 24px;
        font-weight: 900;
        margin-left: 20px;
        margin-top: 20px;
        display: inline-block;
    }
    span{
        width: 60%;
        margin: 0px auto;
        text-align: center;
        display: block;
        padding-top: 60px;
        font-size: 17px;
    .free-listing{
        color: red;
        width: auto;
        display: inline-block;
        margin: auto;
        padding-top: 0;
    }
}
.slectDropdown{
    width: 75%;
    margin: auto;
    ion-select{
        background: #fff;
    color: #6a6a6a;
    margin: 40px 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    height: 40px;
    }
}
}
ion-tab-bar{
    display: none;
}
.next-btn{ background: red; position: absolute; bottom: 0; color: #fff; margin: 0; width: 100%; height: 50px;}