<ion-content>
  <div class="login-bg property-bg">
          <fa-icon [icon]="faArrowLeft" routerLink="/splash/tabs/home"></fa-icon>
          <div>
            A <span>few question</span> to get you started
          </div>
          <div class="property-image">
            <img src="../../../assets/images/icons/svg/building.svg" alt="image missing">

            <span>Posting Property For:</span>
            <div class="property-btn">
              <ion-button class="buy" (click)="sellProperty('sell')">Sell</ion-button>
              <ion-button class="rent" (click)="rentProperty('Rent')">Rent</ion-button>
            </div>
          </div>
          <!-- <ion-button class="next-btn" routerLink="/select-package/post-property-for">Next</ion-button> -->
          </div>
          
  
  </ion-content>