.header-bg-color{
    --background:#e14b4c;    
    --padding-start: 15px;
.back-btn{ color: #ffffff; font-size: 25px;}
.header-title{
    color: #ffffff;
    text-align: left;
}
}
ion-content, ion-item{
    --background: #ffff;
    --border-color: #e3e3e3;
    ion-item{

    }
}
.list_text{ color: #000;}
.list_text_bottom{ font-size: 12px;}
