<ion-header class="clients_header">
  <ion-toolbar class="header-bg-color"> 
    <ion-title slot="start" class="header-title">Contact Us</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item></ion-item>
  <ion-item lines="none">
    https://www.huntproperty.com/
  </ion-item>
  <ion-item lines="none">
    Hunt Property Infratech Pvt Ltd <br>
    3rd Floor The Homestop@104, Sector 104, <br>
    Hazipur, Noida, U.P 201304
  </ion-item>
  <ion-item lines="none">
    <a href="tel:+91 9899 095 939">
      <fa-icon [icon]="faPhone" class="phone"></fa-icon>&nbsp;&nbsp;
      <span>+91 9899 095 939</span></a>
  </ion-item>
</ion-content>
